.bg {
    background-color: #f5f6f6;
}
.categoriesList { 
    margin: 0px auto;
    padding: 40px 0px;
    max-width: 1200px;
    width: 100%;
    .categoriesBlock {
        display: flex;
        justify-content: space-between;
        .categList {
            width: 660px;
            display: flex;
            justify-content: space-between;
            justify-items: center;
            font-size: 17px;
            .categItem {
                font-family: 'HelveticaNeueCyr';
                color: $main;
                cursor: pointer;
            }

            .categItem-Active {
                font-family: 'Helvetica Neue';
                border-bottom: 3px solid $main;
                padding-bottom: 10px;
            }
        }
        .tabsList {
            display: flex;
            span {
                color: $main;
                font-family: 'HelveticaNeueCyr';
                font-weight: 500;
                width: 28px;
                height: 28px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                justify-items: center;                                                         
                margin: 5px;
                padding-top: 3px;
                border: 2px solid $main;
                border-radius: 50%; 
                cursor: pointer;
            }
            span:hover {
                background-color: $main;
                color: #ffffff;
                transition: .3s;
            }
            .activeSize {
                background-color: $main;
                color: #ffffff;
                transition: .3s;
            }
        }
    }
}